<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{layout/base :: layout(~{::title},~{::body/content()})}">

<head>
	<title>タスク管理サイト</title>
</head>

<body>
	<h3>
        タスク一覧
        <small>
            <a class="ms-3 btn btn-sm btn-primary" th:href="@{/tasks/add/}">タスクの追加</a> 
        </small>
    </h3>

	<div th:if="${userTasks!=null and !userTasks.empty}">
		<table class="table table-striped">
			<thead>
				<th>#</th>
				<th>タスク名</th>
                <th>期日</th>
				<th role="action"></th>
			</thead>
			<tbody>
				<tr class="align-middle" th:each="task, stat : ${userTasks}" th:object="${task}">
					<td th:text="${stat.count}"></td>
					<td th:text="*{title}"></td>
                    <td th:text="*{getDueDay()}"></td>
					<td>
						<div class="d-flex justify-content-around">
							<a class="btn btn-info btn-sm" th:href="@{/tasks/edit/{id}(id=*{id})}">編集・削除</a>
						</div>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	<div th:unless="${userTasks!=null}">
		<div class="alert alert-danger" role="alert">
			データなし
		</div>
	</div>
</body>

</html>