<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{layout/base :: layout(~{::title},~{::body/content()})}">

<head>
    <title>連絡帳管理サイト</title>
</head>

<body>
    <div class="d-flex flex-column justify-content-center align-items-center">
        <h3 class="col-8" th:text="${pageName}">タイトル</h3>
        <th:block th:if="${validError!=null}">
            <div class="alert alert-danger" role="alert" th:text="${validError}">問題が発生しました</div>
        </th:block>
        <div class="w-100"></div>
        <div class="col-8" th:object="${task}">
            <form class="card" method="post" th:action="${formAction}" th:object="${task}">
                <div class="card-header">
                    削除確認ダイアログ
                </div>
                <div class="card-body">
                    <strong th:text="*{title}">タスク名</strong>を削除します。<br>
                    よろしいですか？
                </div>
                <div class="card-footer d-flex justify-content-between">
                    <a th:href="@{/detail/{id}(id=*{id})}" class="btn btn-warning">キャンセル</a>
                    <button type="submit" class="btn btn-danger">削除</button>
                </div>
            </form>
        </div>
    </div>
</body>

</html>